{% extends "demo/base.twig" %}

{% block content %}
    <h3>Token Retrieved!</h3>
    <pre><code>  Access Token: {{ token }}  </code></pre>
    {% if response.friends is defined %}
        <p>
            Here are your friends:
        </p>
        <ul>
            {% for friend in response.friends %}
                <li>{{ friend }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>Response:</h4>
        {% include 'demo/_error.twig' %}
    {% endif %}
    <a href="{{ path('homepage') }}">back</a>
    <div class="help"><em>The API call can be seen at <a href="{{ endpoint }}" target="_blank">{{endpoint}}</a></em></div>
{% endblock %}
